<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <application>
        <!-- reboot broadcast : send before broadcast to inform system -->
        <!--<meta-data android:name="rbt" android:value="action_fota_upgrade_start" />-->

        <!-- SDK configure -->
        <!--<meta-data-->
            <!--android:name="carota.configure" android:resource="@xml/cfg_skt" />-->

    </application>

</manifest>